<%- include('../partials/search') %>
<% display.forEach(manga=> { %>
  <% const style = `border: solid 0.25rem ${nameToColor(manga.title)};` %> 
  <div class="manga" style="<%= style %>" >
    <div class="manga__title">
      <span><%= manga.title %></span>
    </div>
    <div class="manga__description">
      <%= manga.description %>
    </div>
    <form action="/manga/<%= manga.id %>" class="manga__download" method="GET">
      <button type="submit" class="manga__btn">download</button>
    </form>
    <% if (currentUser) { %>
      <% manga.buttons.forEach(button => { %>
        <form action="<%= button.action %>" method="post" class="manga__download">
          <input type="hidden" name="id" value="<%= manga.id %>">
          <button type="submit" class="manga__btn"><%= button.text %></button>
        </form>
      <% }) %>
    <% } %>
  </div>
<% }) %>